{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_superuser %} <p><em>Viewing: customer.html</em></p> {% endif %}

    <!-- Customer Details -->
    <div class="container">
        <!-- ROW 1 -->
        <div class="row">
            <div class="col">
            <h1>{{ customer.name }}</h1>
            <br>
            </div>
        </div>

        <!-- ROW 2 -->
        <div class="row">
            <!-- COLUMN 1 -->
            <div class="col" style="text-align: left;">
            <strong>Main Contact:</strong> {{ customer.main_contact }}<br>
            <strong>Hayley Account Manager:</strong> {{ customer.hayley_account_manager }}<br>
            <strong>Phone Number:</strong> {{ customer.phone }}<br>
            <strong>Email:</strong> {{ customer.email }}<br>
            <strong>Website:</strong>
            <a href="{{ customer.website }}" target="_blank" rel="noopener noreferrer">
                {{ customer.website }}
            </a><br>
            <strong>Industry:</strong> {{ customer.industry }}<br>
            <strong>Sector:</strong> {{ customer.sector }}<br>
            <strong>Location:</strong> {{ customer.location }}<br>
            </div>

            <!-- COLUMN 2 -->
            <div class="col d-flex flex-column justify-content-between" style="text-align: left;">
            <!-- COLUMN 2 row 1 -->
            <div>
                <strong>Address</strong><br>
                {% if customer.address1 %}{{ customer.address1 }}<br>{% endif %}
                {% if customer.address2 %}{{ customer.address2 }}<br>{% endif %}
                {% if customer.city %}{{ customer.city }}<br>{% endif %}
                {% if customer.county %}{{ customer.county }}<br>{% endif %}
                {% if customer.postcode %}{{ customer.postcode }}<br>{% endif %}
                {% if customer.country %}{{ customer.country }}<br>{% endif %}
            </div>
            </div>
        </div>

        <!-- ROW 3 -->
        <div class="row mt-4">
            <div class="col border rounded p-3">
            <p><strong>Notes:</strong> {{ customer.notes }}</p>
            <br>
            </div>
        </div>
    </div>
    <!--End of  Customer Details -->

    <br>
    <a href="{% url 'customers' %}"> Back</a>
    <br><br>

    {% if problems %}
        <p><em> Issues listed for this customer.</em></p>
            <table class="table table-bordered table-hover table-striped mt-4">
            <thead>
                <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Urgency</th>
                <th>Description</th>
                {% comment %} <th>Root Cause</th>
                <th>Impact</th> {% endcomment %}
                <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                <td><a href="{% url 'problem' problem.id %}">{{ problem.title }}</a></td>
                <td>{{ problem.status }}</td>
                <td>{{ problem.urgency }}</td>
                <td>{{ problem.description }}</td>
                {% comment %} <td>{% if problem.root_cause %}{{ problem.root_cause }}{% else %}-{% endif %}</td>
                <td>{% if problem.impact %}{{ problem.impact }}{% else %}-{% endif %}</td> {% endcomment %}
                <td>{{ problem.created_at|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

    {% else %}
        <p><em>No Issues listed for this customer.</em></p>
    {% endif %}
    <br><br>


{% endblock %}