{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if user.is_superuser %} problems.html {% endif %}

  <h2>Issues</h2>

  <!-- Add Problem Button -->
  <div class="mt-4 text-end">
<button type="button" class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#addProblemModal"
        data-source="problems">
  Add Problem
</button>

  </div>

{% include 'add_problem_modal.html' with form=form %}

  <!-- Problems Table -->
  <table class="table table-striped table-hover table-bordered mt-3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Urgency</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
{% for wrapped in problems %}
  {% with problem=wrapped.problem form=wrapped.form %}
    <tr>
      <td><a href="{% url 'problem' problem.id %}">{{ problem.title }}</a></td>
      <td><a href="{% url 'customer' problem.customer.id %}">{{ problem.customer }}</a></td>
      <td>{{ problem.status }}</td>
      <td>{{ problem.urgency }}</td>
      <td>{{ problem.created_at|date:"d/m/Y" }}</td>
      <td>
        <a href="#" data-bs-toggle="modal" data-bs-target="#editProblemModal{{ problem.id }}" data-source="problems">Edit</a> &nbsp; | &nbsp;
        <a href="{% url 'problem_delete' problem.pk %}?next={{ request.path }}">Delete</a>
      </td>
    </tr>

    {% include 'edit_problem_modal.html' %}
  {% endwith %}
{% endfor %}

    </tbody>
  </table>

<script>
  const addProblemModal = document.getElementById('addProblemModal');
  addProblemModal.addEventListener('show.bs.modal', function (event) {
    const triggerButton = event.relatedTarget;
    const source = triggerButton.getAttribute('data-source');
    const customerId = triggerButton.getAttribute('data-customer-id');

    document.getElementById('calledFromInput').value = source || '';
    document.getElementById('customerIdInput').value = customerId || '';
  });
</script>

 
{% endblock %}